<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/pomodoroTimer" version="1.0.0" viewmodes="maximized">
    <tizen:application id="rVkjtlI01Z.pomodoroTimer" package="rVkjtlI01Z" required_version="2.3.1" ambient_support="disable" launch_mode="single"/>
    <tizen:category name="http://tizen.org/category/wearable_clock"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.shape.circle"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="tomato.png"/>
    <name>pomodoroTimer</name>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="disable" encryption="disable" hwkey-event="enable"/>
</widget>
