<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="https://github.com/axbg/gear-pomodoro" version="1.0.1" viewmodes="maximized">
    <tizen:application id="Zg8NlKtlKH.BasicUI" package="Zg8NlKtlKH" required_version="3.0"/>
    <author email="bisagalexstefan@gmail.com">Alex Bisag</author>
    <content src="index.html"/>
    <description>A simple Pomodoro Timer app.</description>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="tomato.png"/>
    <name>PomodoroTimer</name>
    <tizen:profile name="wearable"/>
</widget>
